@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
.bg-mynav {
    background-color: #5c5c5c;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    background-color: #f6F8fa;
}

.buttonload {
    background-color: #0d05248c;
    /* Green background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 12px 16px;
    /* Some padding */
    font-size: 16px/* Set a font size */
}